.welcome-box ul li{
  padding: 5px;
}

h1,ul li{
  padding: 10px
}

ul{
  list-style: none;
}

.header-box{ width: 1140px; }
.header-img-box{ width: 8%; margin: 0 auto; padding: 10px}
.component-name{ color:blue }
.active{ color:green }
.inactive{ color:red }
